@media(max-width:1410px){
    .our_products .our_inner .content_our .block_our {
        width: 34%;
    }
}
@media(max-width:1315px){
    .main .main_inner {
        flex-wrap: wrap;
    }
    .main .main_inner .right_block_main {
        padding-top: 50px;
        padding-left: 100px;
    }
    .main .main_inner .left_block_main {
         padding-top: 0px; 
    }
}
@media(max-width:1190px){
    .content_price{
        flex-wrap: wrap;
    }
    .block_price{
        margin-top: 30px;
    }
}
@media(max-width:1150px){
    .our_products .our_inner .content_our .block_our {
        width: 46%;
    }
}
@media(max-width:900px){
    .burger_header{
        cursor: pointer;
        position: relative;
        width: 35px;
        height: 20px;
        display: block;
        top: 25px;
        z-index: 6;
    }
    .main .main_inner .right_block_main {
        padding-top: 100px;
        padding-left: 0px;
    }
    .burger_header::before,
    .burger_header::after{
        content: '';
        background-color: #E7742E;
        height: 4px;
        position: absolute;
        width: 100%;
        border-radius: 6px;
        transition: all 0.3s;
        left: 0;
    }
    .burger_header::before{
        top: 0;
    }
    .burger_header::after{
        bottom: 0;
    }

    .burger_header span{
        position: absolute;
        background-color: #E7742E;
        left: 0;
        width: 100%;
        height: 4px;
        transition: all 0.3s;
        border-radius: 6px;
        top: 8px;
    
    }
    .burger_header.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    body.lock{
        overflow: hidden;
    }
    .menu{
        margin-top: 0px;
    }
    
    .menu{
        top: -100%;
        position: fixed;
        top: 0;
        transition: all 0.3s;
        left: 0;
        right: 0;
        text-align: right;
        background: #fff;
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
        padding: 0px;
        border-radius: 0px;
        z-index: 3;
        display: none;
        overflow-y:scroll;
        height: 80vh;
        width: 100%;
        padding-top: 50px;
    }
    .list_menu{
        text-align: left;
        flex-direction: column;    
    }
    nav.active{
        display: block;
        padding-top: 75px;
    }
    
   

 
    .burger_header.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    
    .burger_header.active:before{
        transform: rotate(45deg);
        top: 8px;
    }
    .burger_header.active span{
        transform: scale(0);
    } 
    .header .btn_call{
        display: none;
    }
    .list_menu{
        text-align: left;
    }
    .header .header_inner .list_menu .link_menu .href_link_menu {
        color: #E7742E;
        font-size: 28px;
    }
    .link_menu{
        padding-top: 30px;
    }
}
@media(max-width:850px){
    .our_products .our_inner .content_our .block_our {
        width: 51%;
    }
    .our_products .our_inner .content_our {
        justify-content: center;
    }
}
@media(max-width:795px){

    .price .content_price {
        
        justify-content: center;
    }
    .question .question_inner .content_question .block_question .plus_question::before {

        left: 620px;
    }
    .question .question_inner .content_question .block_question .text_question {
        font-size: 22px;
    }
    .question .question_inner .content_question .block_question .plus_question::after {
        left: 611px;
    }
}
@media(max-width:700px){
    .our_products .our_inner .content_our .block_our {
        width: 100%;
        padding: 15px;
    }
}
@media(max-width:680px){
    .question .question_inner .content_question .block_question .text_question {
        font-size: 19px;
    }
    .question .question_inner .content_question .block_question .plus_question::before {
        left: 524px;
    }
    .question .question_inner .content_question .block_question .plus_question::after {
        left: 515px;
    }
}
@media(max-width:601px){
    .main .main_inner .right_block_main img {
        width: 100%;
    }
}
@media(max-width:580px){
    .question .question_inner .content_question .block_question .text_question {
        max-width: 400px;
    }
    .question .question_inner .content_question .block_question .plus_question::before {
        left: 399px;
        bottom: 18px;
    }
    .question .question_inner .content_question .block_question .plus_question::after {
        left: 390px;
        bottom: 27px;
    }
}
@media(max-width:500px){
    .main .main_inner .left_block_main .main_title {
        font-size: 43px;
    }
    .title{
        font-size: 33px;

    }
    .main .main_inner .left_block_main .sub_title_main {
        font-size: 22px;
    }
}
@media(max-width:450px){
    .price .content_price .block_price {
        padding: 30px 40px;
    }
    .question .question_inner .content_question .block_question .text_question {
        max-width: 245px;
    }
    .question .question_inner .content_question .block_question .plus_question::before {
        left: 275px;
        bottom: 17px;
    }
    .question .question_inner .content_question .block_question .plus_question::after {
        left: 266px;
        bottom: 26px;
    }
}
@media(max-width:400px){
    .main .main_inner .left_block_main .main_title {
        font-size: 37px;
    }
}
@media(max-width:340px){
    .price .content_price .block_price .href_btn_block_price {
        font-size: 16px;
        
    }
    .price .content_price .block_price .title_number_price {
        margin-left: 40px;
    }
}